<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--ES服务路径-->
    <add key="ElasticSearchUrl" value="http://localhost:9200"/>
  </appSettings>
  <connectionStrings>
    <add name="Zxxk" connectionString="Data Source=10.1.1.2;Initial Catalog=Test;Uid=zxxktest;Pwd=123456;"/>
    <!--<add name="Zxxk" connectionString="Data Source=.;Initial Catalog=Test;Uid=sa;Pwd=123456;"/>-->
  </connectionStrings>
</configuration>